doctype html
html
  head
    title SAEED DANCE ACADEMY
    block scripts
    block style
  body
    nav#navbar 
        ul 
            div#logo
                img(src="/static/girl.png")
                | SDA
            li #[a(href="/") Home] 
            li #[a(href="/") About] 
            li #[a(href="/") Services] 
            li #[a(href="/") Class info] 
            li #[a(href="/contact") Contact info] 
    block content
    footer#footer 
        | Copyright 2020 SaeedDanceAcademy.com | All Rigts Reserved